header, footer{
    font-family: 'Lora', serif;
}
.art{
    font-family: 'Bad Script', cursive; 
    font-size:19pt
}
h3.art{
    font-size: 25pt; 
    text-decoration: underline
}
.head{
    text-align: right; 
}